.panda-bg-info{
    background-color: #fceae8;
}
.categories img{
    width: 100px;
}
.panda-btn-buy-now{
    color: white;
    background-color: #ff3f8b;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}